<template name="addStatus">
  <div class="col-md-10">
    <form class="add-status">
      {{#if haveErrors}}
        <div class="alert alert-danger">{{haveErrors}}</div>
      {{/if}}
      <div class="form-group {{#if haveErrors}}hasError{{/if}}">
        <textarea name="status" id="status" class="form-control" placeholder="What's on your mind?"></textarea>
      </div>
      <button class="btn btn-primary btn-sm">
        <i class="fa fa-file-o"></i> Post status
      </button>
    </form>
  </div>
</template>