<template name="heroUnit">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron">
          <h1>Welcome to the Social Network</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur quia beatae dignissimos tempora expedita perferendis corrupti assumenda amet at, repellendus maiores ducimus et obcaecati esse non, exercitationem corporis eos voluptatibus?</p>
        </div>
      </div>
    </div>
  </div>
</template>